version: 2.1

jobs:
  test-job:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: test-job
          command: "echo 'hello world' && sleep 300"

workflows:
  ci:
    jobs:
      - test-job
