version: 2.1

jobs:
  build-job:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: build-job
          command: "echo 'building now!'"
  test-job:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: test-job
          command: "echo 'hello world' && sleep 120"
workflows:
  ci:
    jobs:
      - build-job
      - test-job
